<form [formGroup]="loginForm">
  <div class="container-fluid center-container">
    <div class="card card-success">
      <div class="card-header"><b>Login</b></div>
      <div class="card-body">
        <div class="form-style">
          <div class="row">
            <div class="col-md-3">
              <label for="username">Username: </label>
            </div>
            <div class="col-md-9">
              <input onfocus="this.select()" class="form-control" id="username" type="text" formControlName="username">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="password">password: </label>
            </div>
            <div class="col-md-9">
              <input onfocus="this.select()" class="form-control" id="password" type="password"
                     formControlName="password">
            </div>
          </div>
        </div>
        <div class="row">
          <button class="btn btn-success btn-margin" type="submit" (click)="onSubmit(loginForm.value)"> Login</button>
        </div>
      </div>
    </div>
  </div>
</form>
