.center-container {
  padding-top: 15%;
  width: 50%;
}

.card-success {
  border-color: #d6e9c6;
  .card-header {
    background-color: #dff0d8;
    color: #3c763d;
  }
}

.form-style {
  .row {
    margin-bottom: 2%;
  }
}

.btn-margin {
  margin-left: 2%;
}
