<form [formGroup]="actionForm">
    <div class="container-fluid">
        <div class="card">
            <div [ngStyle]="{'background': color}" class="card-header" style="text-align: center">
                {{title}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <label for="actions">Action: </label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control {{disabled ? 'disabled' : ''}}" formControlName="action"
                               id="actions" onfocus="this.select()"
                               placeholder="action" value="{{action.action}}">
                    </div>
                    <div class="col-md-3">
                        <label for="actionName"> Name: </label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control {{disabled ? 'disabled' : ''}}" formControlName="actionName"
                               id="actionName"
                               onfocus="this.select()"
                               placeholder="name" value="{{action.actionName}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="topic">Topic: </label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control {{disabled ? 'disabled' : ''}}" formControlName="topic"
                               id="topic" onfocus="this.select()"
                               placeholder="topic" value="{{action.topic}}">
                    </div>
                    <div class="col-md-3">
                        <label for="waitForResponse"> Wait for response: </label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control {{disabled ? 'disabled' : ''}}" formControlName="waitForResponse"
                                id="waitForResponse"
                                style="margin-left: 0">
                            <option [value]=true> TRUE</option>
                            <option [value]=false> FALSE</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="statusWp">Persistent status: </label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control {{disabled ? 'disabled' : ''}}" formControlName="statusWp" id="statusWp"
                                style="margin-left: 0">
                            <option [value]=true> TRUE</option>
                            <option [value]=false> FALSE</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="style"> Style: </label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control {{disabled ? 'disabled' : ''}}" formControlName="style" id="style"
                                style="margin-left: 0">
                            <option *ngFor="let style of keys()" [value]="ActionStyle[style]"> {{style}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <button (click)="onButtonClicked(actionForm.value)" [disabled]="!actionForm.valid"
                            [hidden]="disabled" [ngStyle]="{'background': color}"
                            class="btn btn-success btn-margin {{!actionForm.valid ? 'disabled' : ''}}"
                            style="margin-top: 2%; margin-bottom: 0" type="submit"> {{buttonTitle}}
                    </button>
                </div>
                <div class="row">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</form>
