form .help {
  margin-left: 20px;
  font-size: 0.8em;
  color: #777;
  margin-bottom: 5%;
}

form .form-control {
  cursor: not-allowed;

  &:not(.disabled):hover {
    cursor: auto;
  }
;
}

form button {
  position: relative;
  margin-bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  background: #FF3838;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.4);
  transition: all 0.15s ease-in-out;
  cursor: not-allowed;

  &:not(.disabled):hover {
    cursor: pointer;
    background: #ff5252;
  }
;

  &.success {
    background: green;
  }

  &.success:hover {
    background: #00a100;
  }
}

form label {
  //margin-left: 20px;
  display: inline-block;
  position: relative;
}

form label span {
  color: green;

  &:not(.valid) {
    color: #FF3838;
  }

  font-size: 2em;
  position: absolute;
  left: 2.3em;
  top: -10px;
}

form input {
  display: block;
  width: 80%;
  //margin-left: 20px;
  margin-bottom: 2%;
  font-size: 1em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
}

form select {
  display: block;
  width: 80%;
  margin-left: 20px;
  margin-bottom: 2%;
  font-size: 1em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
}

