.modal {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  font-family: lato, serif;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  color: #333;
}

.modal-content {

  border-radius: 10px 10px 10px 10px;
}
.modal .modal-header{
  background: #FF3838;
  padding: 20px 30px;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
  text-align: center;
}
