<form [formGroup]="manageDeviceForm">
    <div class="container-fluid">
        <h1 class="title"> Manage </h1> <br>
        <hr>
        <div class="container-fluid">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    Manage device {{this.device.device.name}}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="name">Name: </label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="name" id="name"
                                   onFocus="this.select()" placeholder="deviceName"
                                   value="{{this.device.device.name}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="permission">Permission: </label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" formControlName="permission" id="permission">
                                <option *ngFor="let permission of keys()"
                                        [value]="Permission[permission]"> {{permission}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Actions: </label>
                        </div>
                        <div class="col-md-9">
                            <div *ngFor="let action of actions; index as i" class="container-fluid"
                                 style="margin-bottom: 2%">
                                <action [action]="action" [buttonTitle]="'update'" [disabled]="false"
                                        [title]="action.actionName">
                                    <button (click)="removeAction(i)" aria-label="Close" class="fa fa-close"
                                            style="margin-top: 2%; margin-bottom: 0" type="button"></button>
                                </action>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-9">
                            <actionForm [actions]="this.actions" [device]="this.device"></actionForm>
                        </div>
                    </div>
                    <div class="row">
                        <button (click)="onUpdateDevice(manageDeviceForm.value)" class="btn btn-success btn-margin"
                                style="margin-top: 2%" type="submit"> Update device
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>