<div class="container-fluid">
    <div class="card">
        <button attr.data-target="#roomquickview-{{room.roomID}}" class="card-header card-header-center" data-toggle="modal"
                style="cursor: pointer">
            {{room.name}}
        </button>
        <div class="card-body">
            <div class="row">
                <div class="col-md-1 col-center">
                    <div (click)="switchFavorite()" class="fa fa-star{{!room.favorite ? '-o' : ''}} fa-2x"
                         style="color: red; cursor: pointer"></div>
                </div>
                <div (click)="onClick()" class="col-md-7 col-center" style="cursor: pointer">
                    <h4>
                        Devices of {{room.name}}
                    </h4>
                </div>
                <div class="col-md-4">
                    <button (click)="manage()" *ngIf="isAdmin()" class="btn btn-primary">
                        Manage
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="selected" style="padding-bottom: 2%">
            <devices [devices]="room.devices"></devices>
        </div>
    </div>
</div>
<room-quickview [room]="room"></room-quickview>
