<div class="container-fluid">
    <h1 class="title"> Manage </h1> <br>
    <hr>
    <form [formGroup]="newDeviceForm" style="margin-bottom: 5%">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-center" style="text-align: center">
                    Create a new device
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="id">Name: </label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="id" id="id" onfocus="this.select()" placeholder="Name"
                                   type="text">
                            <div class="help"> This must be a unique name.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="permission">Permission: </label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" formControlName="permission" id="permission">
                                <option *ngFor="let permission of keys()"
                                        [value]="Permission[permission]"> {{permission}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Actions: </label>
                        </div>
                        <div class="col-md-9">
                            <div *ngFor="let action of actions; index as i" class="container-fluid"
                                 style="margin-bottom: 2%">
                                <action [action]="action" [disabled]="true" [title]="action.actionName">
                                    <button (click)="removeAction(i)" aria-label="Close" class="fa fa-close"
                                            style="margin-top: 2%; margin-bottom: 0" type="button"></button>
                                </action>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-9">
                            <actionForm [actions]="actions"></actionForm>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button (click)="onSubmit(newDeviceForm.value)"
                            [disabled]="!newDeviceForm.valid"
                            class="btn btn-success btn-margin {{!newDeviceForm.valid ? 'disabled' : ''}}" type="submit"> Create device
                    </button>
                </div>
            </div>
        </div>
    </form>
    <form [formGroup]="newUserForm" style="margin-bottom: 5%">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-center" style="text-align: center">
                    Create a new user
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="username">username: </label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="username" id="username" onfocus="this.select()"
                                   placeholder="username"
                                   type="text">
                            <div class="help"> This must be a unique name.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="password">password: </label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="password" id="password" onfocus="this.select()"
                                   placeholder="password"
                                   type="password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="password2">password: </label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="password2" id="password2" onfocus="this.select()"
                                   placeholder="password"
                                   type="password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="userPermission">Permission: </label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" formControlName="userPermission" id="userPermission">
                                <option *ngFor="let permission of keys()"
                                        [value]="Permission[permission]"> {{permission}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <button (click)="onSubmitUser(newUserForm.value)"
                                [disabled]="!newUserForm.valid"
                                class="btn btn-success btn-margin {{!newUserForm.valid ? 'disabled' : ''}}" type="submit"> Create user
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form [formGroup]="newRoomForm" style="margin-bottom: 5%">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-center" style="text-align: center">
                    Create a new room
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="roomName">Name: </label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="roomName" id="roomName" onfocus="this.select()"
                                   placeholder="Name"
                                   type="text">
                            <div class="help"> This must be a unique name.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="roomPermission">Permission: </label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" formControlName="roomPermission" id="roomPermission">
                                <option *ngFor="let permission of keys()"
                                        [value]="Permission[permission]"> {{permission}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="devices">Device: </label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" formControlName="devices" id="devices" multiple>
                                <option *ngFor="let device of devices"
                                        [value]="device.device.id">{{device.device.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="users">Users: </label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" formControlName="users" id="users" multiple>
                                <option *ngFor="let user of users" [value]="user.username">{{user.username}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button (click)="onSubmitRoom(newRoomForm.value)"
                            [disabled]="!newRoomForm.valid"
                            class="btn btn-success btn-margin {{!newRoomForm.valid ? 'disabled' : ''}}" type="submit"> Create room
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
