<h1 class="title">About me</h1><br><hr>
<div class="container-fluid center-container">
  <div class="card">
    <div class="card-header" style="text-align: center"><b>Some information about you </b></div>
    <div class="card-body">
      <div class="row" style="padding-left: 30%">
        <div class="col-md-4"> Username:</div>
        <div class="col-md-4"> {{currentUser.username}} </div>
      </div>
      <div class="row" style="padding-left: 30%">
        <div class="col-md-4"> Permission:</div>
        <div class="col-md-4"> {{Permission[currentUser.permission]}} </div>
      </div>
    </div>
  </div>
</div>
