<div class="container-fluid">
  <div class="card">
    <button class="card-header" data-toggle="modal" attr.data-target="#quickview-{{device.device.id}}"
            style="text-align: center"> {{device.device.name}} </button>
    <div class="card-body">
      <div class="row">
        <div class="col-md-1" style="text-align: center">
          <button class="fa fa-star{{!device.device.favorite ? '-o' : ''}} fa-2x" style="color: red; cursor: pointer"
                  (click)="device.switchFavorite()"></button>
        </div>
        <div class="col-md-3" style="text-align: center">
          {{device.device.status}}
        </div>
        <div class="col-md-8" style="text-align: center">
          <ng-container *ngFor="let action of device.device.actions">
            <action style="margin-right: 5%" [action]="action"></action>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<device-quickview [device]="device.device"></device-quickview>

